[Desktop Entry]
Type=Application
Icon=harbour-ordercorrect
X-Nemo-Application-Type=silica-qt5
X-Nemo-Single-Instance=yes
Exec=harbour-ordercorrect
Name=OrderMail

[X-Sailjail]
ApplicationName=OrderMail
OrganizationName=org.nephros.sailfish
Permissions=

